@page
@model SectionJLab.Pages.ThankYouModel
@{
}

<div class="text-center bg-white p-4 rounded shadow">
    <h2>Thank You!</h2>
    <h4>Your order has been successfully placed.</h4>
    <h5>We're thrilled to have the opportunity to serve you. A confirmation email has been sent to your inbox with the details of your order.</h5>
    <h5>Our team is already getting started on preparing everything for you. If you have any questions or need to make changes, feel free to contact us!</h5>

    <div class="mt-4">
        <a href="/" class="btn btn-primary m-2">Return to Home</a>
        <a href="/PastOrders" class="btn btn-secondary m-2">View My Orders</a>
    </div>
</div>
